
$grey-white: #ddd;

$primary-color: black;
$white: #fff;
$link-color: #000;
$receipt-list-background-color: $grey-white;

$heading-color: #000;
$modal-border-color: #000;


$font-family-header: Impact;
$font-family-regular: "Palatino Linotype","Book Antiqua","Palatino","serif";

$side-margin: 30px;

$default-top-margin: 20px;

$base-font-size: 16px;

//Brake points
$sm-brakepoint: 576px;
$md-brakepoint: 768px;
$lg-brakepoint: 992px;
$lx-brakepoint: 1200px;

$max-width: $md-brakepoint;

